body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-height: 100vh;
  background-color: whitesmoke;
  width: 100%;
}

header{
  padding: 5px;
 
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 20px ;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: whitesmoke;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}

#header-img {
  height: 50px;
}

#links {
  font-size: large;
  padding: 50px;
  text-decoration: none;
  color: grey;
}

#links:hover{
  color: rgb(240, 187, 12);
}

#hands {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#submit {
  margin: auto;
  background: rgb(240, 187, 12);
  font-weight: 800;
  border: none;
  width: 150px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

#submit:hover{
  background-color:rgb(240, 122, 12) ;
}

#section {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin-top: 20px;
  margin-right: 200px;
  margin-left: 200px;
  justify-content: center;
}



#section2 {
  display: flex;
  justify-content: center;
  gap: 50px;
  
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  width: 300px;
  
  
}

#h2 {
  background: rgb(190, 188, 188);
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

#p2 {
  font-weight: 900;
  font-size: 40px;
}

#select {
  margin-bottom: 10px;
  margin-top: 20px;
  background: rgb(240, 187, 12);
  font-weight: 800;
  border: none;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

#footer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 80px;
  background: rgb(190, 188, 188);
  margin-right: 180px;
  margin-left: 180px;
}

#footercontent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
  padding-right: 20px;
}

#footercontent a{
  text-decoration: none;
  color: rgb(43, 42, 42);
  padding-left: 20px;
  font-size: 18px;
}

#copyright{
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  color: rgb(85, 83, 83);
}


#item {
  display: flex;
  align-content: center;
  justify-items: center;
  flex-direction: row;
  margin-top: 30px;
}

#icon {
  padding: 30px 50px 0 10px;
  margin-right: 10px;
  font-size: 40px;
  color: orange;
  align-items: center;
  text-align: center;
}

#feature-content{
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}



#email {
  width: 300px;
  height: 30px;
}

#video {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}




@media (max-width: 1045px){
  #nav-bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .logo{
    align-items: center;
    display: flex;
  }

  .nav{
    display: flex;
    flex-direction: row;

  }

  #links{
    padding: 5px 30px 5px 0;
  }

  .nav-link{
    font-size: 25px;
  }

  #section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
    
  }

  #footercontents {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin-left: 0;
    margin-right: 0;
    align-items: center;
  }

  iframe{
    width: 360px;
    height: 250px;
  }

  #icon{
    padding-left: 20px;
    padding-right: 50px;
  }

  #header-img{
    height: 40px;
  }
}


@media (max-width: 780px){
  #nav-bar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #header-img{
    height: 40px;
  }

  .nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #links{
    padding: 5px 0 5px 0;
  }

  .nav-link{
    font-size: 25px;
  }

  #section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
    
  }

  #footercontents {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin-left: 0;
    margin-right: 0;
    align-items: center;
  }

  iframe{
    width: 360px;
    height: 250px;
  }

  #icon{
    padding-left: 20px;
    padding-right: 50px;
  }

  #header-img{
    height: 40px;
  }

  #section {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    justify-content: center;
  }
}



